<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .card{
            margin: 15% auto 0;
            margin-left: 40%;
        }

    </style>
</head>
<body>
    <div class="form-container">
        <div class="container"><br>
            <div class="row">
                <div class="col-lg-7 mx-2">

                    <div class="card">
                        <div class="card-header bg-primary text-center">
                            <h3 class="text-light">Login</h3>
                        </div>
            <div class="card-body">
                <form action="/"   method="post">
                    <div class="form-group">
                        <div class="p-3 mb-2 text-primary-emphasis">
                            <label for="userName">Username</label>
                            <input type="text"  class="form-control form-control sm" id="username" name="userName" placeholder="User Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="p-3 mb-2 text-primary-emphasis">

                            <label for="password">Password</label>
                            <input type="password" class="form-control form-control sm" name="password" id="password" placeholder="Password" required>
                        </div>
                       <br> <button type="submit" class="btn btn-primary" name="submit">Login</button>
                    </div>
                    </form><br>
                    <p style="text-align: center;color: black">Don't have an account? <a href="./signup">Signup</a></p>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</body>
</html>
